.test {
    display: grid;
    grid-gap: 20px;
    background: inherit;
    /*background: linear-gradient(to top, #f4f4f4, #ffffff)*/
    grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col2-end];
    grid-template-rows: [row1-start] .25fr [row2-start] 1fr [row3-start] 1fr [row3-end];
    height: 100%;


}


.db-box {
    border-radius: .2em;
    background: linear-gradient(to top, #f4f4f4, #ffffff);
    color: black;
}

.name-container {
    grid-column: col1-start / col2-start;
    grid-row: row1-start;
}

.thumbnail-container {
    grid-column: col1-start / col2-start;
    grid-row: row2-start / row3-end;
    position: relative;
    object-fit: cover;
}

.thumbnail-container img {
    height: 100%;
    width: 100%;
}
.thumbnail {
    position: absolute;
    top: 5%;
    bottom: 5%;

}

.description-container {
    grid-column: col2-start / col2-end;
    grid-row: row1-start / row3-end;
}